@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

* {
	font-family: 'IBM Plex Mono', monospace;
}

html {
	margin: 0;
	padding: 0;
	color: white;
	background: rgb(22, 22, 22);
}

.container {
	display: grid;
	height: 100vh;
	grid-gap: .5rem;
	grid-template-rows: repeat(4, 5fr);
	grid-template-columns: 2.875rem repeat(2, 1fr) 14rem;
}

.row {
	display: flex;
	flex-direction: column;
}

.col {
	display: flex;
	flex-wrap: wrap;
}

.top-centered {
	padding: 20px;
	grid-row: 1/2;
	grid-column: 3;
}

.center {
	grid-row: 2/3;
	grid-column: 2/3;
}

.left-centered {
	grid-row: 1/4;
	grid-column: 2/4;
}

.left {
	grid-row: 1/4;
	grid-column: 2/3;
}

.footer {
	bottom: 0;
	grid-row: 5;
	margin: 1em;
	grid-column: 2/3;
}

.sidebar {
	height: 100vh;
	width: 2.875rem;
	grid-row: 1/5;
	grid-column: 1;
	position: fixed;
	align-items: center;
	justify-content: center;
	background: rgb(38, 38, 38);
}

.sidebar .row {
	font-size: 3em;
}

.sidebar img, .calc img {
	width: 33px;
	height: 33px;
	padding: 6.5px;
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(198deg) brightness(103%) contrast(101%);
/*	filter: invert(0%) sepia(3%) saturate(2009%) hue-rotate(320deg) brightness(100%) contrast(83%); Dark Icons */
}

.receipt {
	right: 0;
	width: 14rem;
	height: 100vh;
	display: flex;
	grid-row: 1/5;
	grid-column: 5;
	position: fixed;
	text-align: center;
	color: rgb(38, 38, 38);
	justify-content: center;
	background: rgb(255, 255, 255);
}

.receipt .checkout {
	bottom: 0;
	color: white;
	margin: 1rem;
	padding: 1rem;
	position: fixed;
	align-self: center;
	display: inline-flex;
	background: rgb(38, 38, 38);
}

.receipt .order {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.receipt .order .delete img {
	width: 22px;
	height: 22px;
}

.receipt .order .product {
	width: 10rem;
}

.receipt .order .product .variant {
/*	align-self: center;*/
/*	margin: 0 2rem 0 2rem;*/
/*	align-items: center;*/
}

.cozy {
	display: flex;
	width: 13rem;
	margin: .50rem;
	background: white;
	text-align: center;
	border-radius: .25rem;
	flex-direction: column;
	justify-content: center;
	border: 1px solid rgb(244, 244, 244);
}

.cozy .title {
	color: white;
	border: none;
	padding: 5px;
	font-size: 20pt;
	background-color: rgb(38, 38, 38);
}

.cozy .image {
	width: 13rem;
	height: 13rem;
	background: white;
	object-fit: cover;
	border-radius: .20rem .20rem 0 0;
}

.cozy .description {
	padding: 10px;
	color: rgb(38, 38, 38);
}

.cozy .option {
	font-size: 21pt;
	padding: 12.56px;
	color: rgb(38, 38, 38);
}

.compact {
	width: 14rem;
	display: flex;
	margin: .15rem;
	background: white;
	text-align: center;
	flex-direction: row;
	border-radius: .25rem;
	justify-content: center;
	border: 1px solid rgb(244, 244, 244);
}

.compact .title {
	color: white;
	border: none;
	padding: 5px;
	width: 11rem;
	font-size: 1.5rem;
	align-self: center;
	border-radius: 0 .20rem .20rem 0;
	background-color: rgb(38, 38, 38);
}

.compact .image {
	width: 3rem;
	height: 2.35rem;
	background: white;
	object-fit: cover;
	border-radius: .20rem 0 0 .20rem;
}

.compact .description {
	width: 4rem;
	font-size: 1rem;
	align-self: center;
	color: rgb(38, 38, 38);
}

.setting {
	display: flex;
	align-items: center;
	margin: 1em 0 0 1rem;
	justify-content: space-between;
}

.setting .title {
	font-size: 20pt;
}

input {
	color: white;
	border: none;
	height: 2rem;
	font-size: 1rem;
	text-align: center;
	background: #262626;
	border-bottom: 1px solid #fff;
}

select {
	-webkit-appearance: none;
	background: #262626;
	appearance: none;
	font-size: 1rem;
	height: 2rem;
	color: #fff;
	border: none;
	width: 10rem;
}

.select-wrapper {
	width: 10rem;
	position: relative;
}

.select-wrapper::after {
	top: 6px;
	right: 10px;
	color: #fff;
	display: flex;
	font-size: 1.5rem;
	position: absolute;
	align-self: center;
	content: url('assets/images/icons/dropdown.svg');
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(198deg) brightness(103%) contrast(101%);
}

.calc {
	transform: translate(-50%, -50%);
	border: 1px solid #fff;
	box-sizing: border-box;
	position: absolute;
	display: none;
	width: 30em;
	left: 23%;
	top: 50%;
}

.calc-scr {
	background-color: white;
	box-sizing: inherit;
	padding-right: 20px;
	padding-left: 10px;
	text-align: right;
	font-size: 5rem;
	height: 80px;
	border: none;
	width: 100%;
	color: #000;
}

.calc-keys {
	grid-template-columns: repeat(4, 1fr);
	grid-gap: .5em;
	display: grid;
	padding: 1em;
}

button {
	background-color: #fff;
	font-size: 3rem;
	border: none;
	height: 2em;
	color: rgb(38,38,38);
}

.operator {
	color: rgb(115,111,111);
}

.all-clear {
	background-color: rgb(218,30,40);
	border-color: none;
	color: #fff;
}

.all-clear:active {
	background-color: rgb(162,25,31);
}

.cancel {
	background-color: rgb(255,131,43);
	border-color: white;
	color: #fff;
}

.cancel img {
	width: 66px;
	height: 66px;
}

.calc .pay {
	background-color: rgb(36,161,72);
	grid-area: 2 / 4 / 6 / 5;
	border-color: #337cac;
	height: 100%;
	color: #fff;
}

.zero {
	background-color: rgb(38, 38, 38);
	grid-area: 5 / 1 / 6 / 3;
	border-color: #337cac;
	height: 100%;
	color: #fff;

}
